<mat-card class="app">

    <mat-toolbar class="toolbar">
        <a routerLink="/" type="button" mat-icon-button class="action-icon" aria-label="Icon-button with arrow left icon">
            <mat-icon>arrow_back_ios</mat-icon>
        </a>
        <span class="title">Einstellungen</span>
    </mat-toolbar>

    <mat-card-content class="content">
        <div class="hint">
            <p>Wähle die maximal zu berücksichtigten Begriffe und die Anzahl der Themen aus.</p>
        </div> 
        <div class="setting">
            <p>Begriffe pro Kategorie (max.: {{maxCategoryTerms$|async}})</p>
            <div class='counter'>
                <button (click)="decrement('termsPerCategory')" mat-icon-button class="action-icon" aria-label="Icon-button with arrow left icon">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
                <span>{{termsPerCategory$|async}}</span>
                <button (click)="increment('termsPerCategory')" mat-icon-button class="action-icon" aria-label="Icon-button with arrow right icon">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
            </div>
        </div>
        <div class="setting">
            <p>Begriffe pro Thema (max.: {{maxTopicTerms$|async}})</p>
            <div class='counter'>
                <button (click)="decrement('termsPerTopic')" mat-icon-button class="action-icon" aria-label="Icon-button with arrow left icon">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
                <span>{{termsPerTopic$|async}}</span>
                <button (click)="increment('termsPerTopic')"mat-icon-button class="action-icon" aria-label="Icon-button with arrow right icon">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
            </div>
        </div>
        <div class="setting">
            <p>Anzahl der Themen (max: {{maxTopics$|async}})</p>
            <div class='counter'>
                <button (click)="decrement('numberOfTopics')" mat-icon-button class="action-icon" aria-label="Icon-button with arrow left icon">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
                <span>{{numberOfTopics$|async}}</span>
                <button (click)="increment('numberOfTopics')" mat-icon-button class="action-icon" aria-label="Icon-button with arrow right icon">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
            </div>
        </div>
    </mat-card-content>
  
  </mat-card>