.app{
    margin: auto;
    width: 50%;
      max-width: 360px;
}
.toolbar{
    .mat-icon {
        font-weight: bolder;
    }
}
.title{
    display: flex;
    flex: 1;
}
.hint{
    color: #3f51b5;
    padding: 10px;

    :last-child{
        margin: 0;
    }
}
.setting{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    >p{
        margin: 0 0 0 10px;
        flex: 1
    }
}
.counter{
    justify-content: flex-end;
}
