<mat-card class="app">

    <mat-toolbar class="toolbar">
        <a routerLink="/" type="button" mat-icon-button class="action-icon back" aria-label="Icon-button with eye icon">
            <mat-icon>arrow_back_ios</mat-icon>
        </a>
        <span class="title">Übersicht</span>
        <a routerLink="#" type="button" mat-icon-button class="action-icon add" aria-label="Icon-button with settings icon">
            <mat-icon>add</mat-icon>
        </a>
    </mat-toolbar>

    <mat-card-content class="content">
            <mat-expansion-panel class="data-lists" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title class="categories">Kategorien</mat-panel-title>
                </mat-expansion-panel-header>
                
                <mat-accordion *ngFor='let item of categoryList$ | async'>
                    <mat-expansion-panel class="category-list data-list" *ngIf="item" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="category-title">{{item.category}}</mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul *ngIf="item" class="item-list">
                            <li class="category-term" *ngFor='let term of item.terms'>{{term}}</li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>

            </mat-expansion-panel>
    
            <mat-expansion-panel class="data-lists" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title class="topics">Themen</mat-panel-title>
                </mat-expansion-panel-header>
                
                <mat-accordion *ngFor='let item of topicList$ | async'>
                    <mat-expansion-panel class="topic-list data-list" *ngIf="item" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="topic-title">{{item.topic}}</mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul *ngIf="item" class="item-list">
                            <li  class="topic-term" *ngFor='let term of item.terms'>{{term}}</li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>

            </mat-expansion-panel>
      </mat-card-content>
  
  </mat-card>