<mat-card class="app">

    <mat-toolbar class="toolbar">
        <a routerLink="/" type="button" mat-icon-button class="action-icon back" aria-label="Icon-button with eye icon">
            <mat-icon>arrow_back_ios</mat-icon>
        </a>
        <span class="title">Übersicht</span>
        <a routerLink="#" type="button" mat-icon-button class="action-icon add" aria-label="Icon-button with settings icon">
            <mat-icon>add</mat-icon>
        </a>
    </mat-toolbar>

    <mat-card-content class="content">
            <mat-expansion-panel class="data-lists" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Kategorie
                    </mat-panel-title>
                </mat-expansion-panel-header>
                
                <mat-accordion *ngFor='let item of categoryList$ | async'>
                    <mat-expansion-panel class="data-list" *ngIf="item" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{item.category}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul *ngIf="item" class="item-list">
                            <li  *ngFor='let term of item.term'>
                                {{term}}
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>

            </mat-expansion-panel>
    
            <mat-expansion-panel class="data-lists" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Themen
                    </mat-panel-title>
                </mat-expansion-panel-header>
                
                <mat-accordion *ngFor='let item of topicList$ | async'>
                    <mat-expansion-panel class="data-list" *ngIf="item" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{item.topic}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul *ngIf="item" class="item-list">
                            <li  *ngFor='let term of item.term'>
                                {{term}}
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>

            </mat-expansion-panel>
      </mat-card-content>
  
  </mat-card>