.app{
    margin: auto;
    width: 50%;
    max-width: 360px;
}
.title{
    display: flex;
    flex: 1;
}
.toolbar{
    margin-bottom: 16px;
}
.content{
    >.list:first-child{
        margin-bottom: 10px;
    }
}
.data-lists,.data-list{
    margin: 10px 0;
}
ul{
    list-style: none;
    padding-left: 10px;
}
.mat-icon {
    font-weight: bolder;
}