<mat-card class="app">

    <mat-toolbar class="toolbar">
      <span class="title">{{title}}</span>
      <a routerLink="/overview" type="button" mat-icon-button class="action-icon overview" aria-label="Icon-button with eye icon">
        <mat-icon>remove_red_eye</mat-icon>
      </a>
      <a routerLink="/settings" type="button" mat-icon-button class="action-icon settings" aria-label="Icon-button with settings icon">
        <mat-icon>settings</mat-icon>
      </a>
    </mat-toolbar>
  
    <mat-card-content class="content">
      <div class="hint">
        <p>Generiere zufällige Begriffe für eine Illustration indem du auf start drückst.<br>
          Drücke so oft Start bis dir bei der Betrachtung der Begriffe eine Idee für deine Illustration in den Sinn kommt.</p>
      </div>
      <button (click)="onGenerateClick()" class="generate" mat-raised-button color="primary">start</button>
      <ul *ngIf="rendomTerms$|async; let i" class="result-list">
        <li class="term" *ngFor='let term of rendomTerms$ | async'>
          {{term}}
        </li>
      </ul>
    </mat-card-content>
  
  </mat-card>