.app{
    margin: auto;
    width: 50%;
      max-width: 360px;
}
.title{
    display: flex;
    flex: 1;
}
.hint{
    color: #3f51b5;
    padding: 10px;

    :last-child{
        margin: 0;
    }
}
.generate{
    width: 100%;
}
.result-list{
    list-style: none;
    padding: 10px;
}